
<div *ngIf="authService.isAuthenticated()" class="mx-6">
  <nav class="p-6">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/home" class="rounded-full bg-yellow-500 hover:bg-blue-300"
        ><img src="./../assets/home.png" class="w-12 m-2" alt=""
      /></a>
      <div class="flex space-x-4">
        <div class="rounded-2xl border-2 border-blue-400 hover:bg-blue-400 text-blue-400 hover:text-white">
          <a href="/usuarios" class=" font-bold text-xl m-3"
            >Usuarios</a
          >
        </div>
        <div class="rounded-2xl border-2 border-blue-400 hover:bg-blue-400 text-blue-400 hover:text-white">
          <a href="/transacciones" class=" font-bold text-xl  m-3 "
            >Transacciones</a
          >
        </div>
        <div class="rounded-2xl border-2 border-blue-400 hover:bg-blue-400 text-blue-400 hover:text-white">
          <a href="/servicios" class=" font-bold text-xl m-3"
            >Servicios</a
          >
        </div>
      </div>
      <div
        class=" bg-yellow-500 rounded-xl cursor-pointer text-white hover:text-black hover:bg-blue-300"
        (click)="logout()"
      >
        <img src="./../assets/salir.png" class="w-12" alt="" />
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>